// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary        = #80cbc4
$secondary      = #ef5350
$accent         = #9C27B0

$positive       = #388e3c
$negative       = #a73a38
$info           = #31CCEC
$warning        = #F2C037

$secondary-dark = rgb(167, 58, 56)
$text-main = rgba(0, 0, 0, 0.87)

.text-second {
  color: $secondary !important;
}

.text-main {
  color: $text-main;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 1280px) and (max-width: 1479.98px) {
    max-width: 960px;
  }
  @media screen and (min-width: 960px) and (max-width: 1279.98px) {
    max-width: 768px;
  }
  @media screen and (min-width: 768px) and (max-width: 959.98px) {
    max-width: 728px;
  }
  @media screen and (min-width: 575px) and (max-width: 767.98px) {
    max-width: 545px;
  }
  @media screen and (max-width: 574.98px) {
    max-width: 300px;
  }
}

.bg-white {
  background-color: #fff;
}

.item--text-second {
  font-size: 14px;
  opacity: 0.7;
}

.vk-color {
  color: #567CA4;
}
.fb-color {
  color: #3a5795;
}
.inst-color {
  color: #285377;
}